body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('potatoes-411975_1280.jpg');
  margin-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: white;
}

.login-form, .signup-form {
  background-color: #ffc266;
  margin: auto;
  width: 30%;
  padding: 5px;
  border: solid;
}

.medias {
  border-style: double;
  padding: 15px;
  margin: 1em;
  display: inline-block;
  background-color: #ffc266;
  border-radius: 16px;
  border-width: 7px;
  border-color: white;
  transition: border-color 0.5s;
}
.medias:hover {
  border-color: #4070f4;
}

.media {
  background-color: #ffc266;
  margin: auto;
  width: 65%;
  border: solid;
  padding: 10px;
}

.reviews {
  margin: 5px;
  display: inline-grid;
  padding: 15px;
  border-style: double;
  background-color: #ffd699;
}

.userReviews {
  border-style: double;
  padding: 15px;
  margin: 1em;
  display: inline-block;
  background-color: #ffc266;
  border-radius: 16px;
  border-width: 7px;
  border-color: white;
  transition: border-color 0.5s;
}
.userReviews:hover {
  border-color: #4070f4;
}

.mediaImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mediaDetailLink {
  background-color: blanchedalmond;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-style: ridge;
  border-radius: 16px;
  border-color: white;
}
.mediaDetailLink:hover {
  border-color: #4070f4;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
}
nav.sticky {
  padding: 15px 20px;
  background: #ffd699;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a {
  font-weight: 500;
  font-size: 35px;
  color: aliceblue;
}
nav.sticky .logo a {
  color: #fff;
}
.nav-content .nav-links {
  display: flex;
}
.nav-content .nav-links li {
  list-style: none;
  margin: 0 8px;
}
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover {
    color: #4070f4;
  }
  nav.sticky .nav-links li a{
    color: #fff;
    transition: all 0.4s ease;
  }

.editReview {
  background-color: blanchedalmond;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-style: ridge;
  border-radius: 16px;
  border-color: white;
}
.editReview:hover {
  border-color: #4070f4;
}

.createReview {
  border-style: ridge;
  background-color: blanchedalmond;
  margin: auto;
  width: 50%;
}

.createMedia {
  background: #ffc266;
  margin: auto;
  width: 50%;
  border: solid;
}

.hiddenInput {
  display: none
}