body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('potatoes-411975_1280.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  background-color: #ffd699;
}

.medias {
  border-style: outset;
  padding: 15px;
  display: inline-block;
  background-color: #ffd699;
}

.media {
  background-color: #ffd699;
}

.reviews {
  display: inline-grid;
  padding: 15px;
  border-style: double;
  background-color: blanchedalmond;
}

.userReviews {
  border-style: outset;
  padding: 15px;
  display: inline-grid;
  background: #ffd699;
}

.mediaImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mediaDetail {
  background-color: blanchedalmond;
  text-decoration: none;
  color: black;
  border-style: ridge;
}

.nav-link{
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 6px 6px;
  background: #ffd699;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: black;
}

.active {
  color: red;
}

.greeting {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 6px 6px;
  background: burlywood;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: black;
}

.logoutButton {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  padding: 5px;
  margin: 0 6px 6px;
  background: burlywood;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: black;
}

.editReview {
  padding: 15px;
  border-style: ridge;
}

.createReview {
  border-style: ridge;
  background-color: blanchedalmond;
}

.createMedia {
  background: #ffd699;
}

.hiddenInput {
  display: none
}